
@{
    ViewData["Title"] = "Add";
}
@model AspnetNote.MVC6.Models.Note

<h1>게시물추가</h1>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form class="form-horizontal" method="post" asp-controller="Note" asp-action="Add">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group mt-3">
                <label>제목</label>
                <input type="text" class="form-control" asp-for="NoteTitle" placeholder="제목입력"/>
                <span class="text-danger" asp-validation-for="NoteTitle"></span>
            </div>

            <div class="form-group mt-3">
                <label>내용</label>
                <textarea class="form-control" rows="20" asp-for="NoteContents" placeholder="내용입력"></textarea>
                <span class="text-danger" asp-validation-for="NoteContents"></span>

            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">추가</button>
                <a class="btn btn-danger" asp-controller="Note" asp-action="Index">취소</a>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>


</div>

